<section class="content reputation">
	{{setVar "reputation" actor.flags.pf2e-vessaya.reputation}}
	<header class="content-header">
		<h3>Factions</h3>
		<a data-action="addFaction"><i class="fa-solid fa-plus"></i> Add</a>
	</header>
	{{#if reputation.factions}}
	{{#each reputation.factions as |faction|}}
	<section class="rep-entry">
		<section class="party-rep faction" data-id="{{faction.id}}">
			<div class="rep-details">
				<h3 class="group-name">{{faction.name}}</h3>
				<div class="form-group hidden">
					<input class="group-name" name="rep-name" type="text" value="{{faction.name}}" />
				</div>
				<span class="party-value">Party Reputation: {{faction.value}}</span>
				<div class="form-group hidden">
					<input class="party-value" name="value" type="number" value="{{faction.value}}" />
				</div>
			</div>
			<div class="edit-save">
				<a data-action="edit-rep"><i class="fas fa-edit"></i></a>
				<a data-action="save-rep" class="hidden"><i class="fas fa-save"></i></a>
			</div>
		</section>
		<section class="member-rep">
			<div>
				<p class="member-name">Test user</p>
				<span class="member-value">test value</span>
			</div>
		</section>
	</section>
	{{/each}}
	{{else}}
	<div class="no-data">
		<p>No Data To Show. Add a new faction</p>
	</div>
	{{/if}}
	<header class="content-header">
		<h3>NPC</h3>
		<a data-action="addNPC"><i class="fa-solid fa-plus"></i> Add</a>
	</header>
	{{#if reputation.npcs}}
	{{#each reputation.npcs as |npc|}}
	<section class="rep-entry">
		<section class="party-rep npc" data-id="{{npc.id}}">
			<div class="rep-details">
				<h3 class="group-name">{{npc.name}}</h3>
				<div class="form-group hidden">
					<input class="group-name" name="rep-name" type="text" value="{{npc.name}}" />
				</div>
				<span class="party-value">Party Reputation: {{npc.value}}</span>
				<div class="form-group hidden">
					<input class="party-value" type="number" name="value" value="{{npc.value}}" />
				</div>
			</div>
			<div class="edit-save">
				<a data-action="edit-rep"><i class="fas fa-edit"></i></a>
				<a data-action="save-rep" class="hidden"><i class="fas fa-save"></i></a>
			</div>
		</section>
		<section class="member-rep">
			<div>
				<p class="member-name">Test user</p>
				<span class="member-value">test value</span>
			</div>
		</section>
	</section>
	{{/each}}
	{{else}}
	<div class="no-data">
		<p>No Data To Show. Add a new faction</p>
	</div>
	{{/if}}
</section>
<section class="dev" style="position: absolute; bottom: 0; left: 0;">
	<a data-action="reset"><i class="fa-solid fa-trashcan"></i> Reset Data</a>
</section>
