<section class="content reputation">
	{{setVar "reputation" actor.flags.pf2e-vessaya.reputation}}
	<header class="content-header">
		<h3>Factions</h3>
		<a data-action="addFaction"><i class="fa-solid fa-plus"></i> Add</a>
	</header>
	{{#if reputation.factions}}
	{{#each reputation.factions as |faction|}}
	<section class="rep-entry">
		<section class="party-rep faction" data-id="{{faction.id}}">
			<div class="rep-expand">
				<a class="expand">
					<i class="fa-solid fa-caret-{{#if faction.expanded}}down{{else}}right{{/if}}"></i>
				</a>
			</div>
			<div class="rep-details">
				<div class="form-group">
					<input class="group-name" name="rep-name" type="text" value="{{faction.name}}" />
				</div>
				<span class="party-value">
					<strong>Party Reputation:</strong>
					<input type="number" class="number-input" value="{{faction.value}}" />
					<em>({{getRepText faction.value}})</em>
				</span>
			</div>
			<div class="edit-save">
				<a data-action="delete-rep"><i class="fas fa-trash"></i></a>
			</div>
		</section>
		<section class="member-rep expanded-{{faction.expanded}}">
			{{#each faction.pcs as |pc|}}
			<div class="member-row" data-id="{{pc.uuid}}">
				<img src="{{getImgFromUUID pc.uuid}}" />
				<p class="member-name">{{pc.name}}</p>
				<input name="rep-val" type="number" class="number-input" value="{{pc.reputation}}" />
			</div>
			{{/each}}
		</section>
	</section>
	{{/each}}
	{{else}}
	<div class="no-data">
		<p>No Data To Show. Add a new faction</p>
	</div>
	{{/if}}
	<header class="content-header">
		<h3>NPC</h3>
		<a data-action="addNPC"><i class="fa-solid fa-plus"></i> Add</a>
	</header>
	{{#if reputation.npcs}}
	{{#each reputation.npcs as |npc|}}
	<section class="rep-entry">
		<section class="party-rep npc" data-id="{{npc.id}}">
			<div class="rep-expand">
				<a class="expand">
					<i class="fa-solid fa-caret-{{#if npc.expanded}}down{{else}}right{{/if}}"></i>
				</a>
			</div>
			<div class="rep-details">
				<div class="form-group">
					<input class="group-name" name="rep-name" type="text" value="{{npc.name}}" />
				</div>
				<span class="party-value">
					<strong>Party Reputation:</strong>
					<input type="number" class="number-input" value="{{npc.value}}" />
					<em>({{getRepText npc.value}})</em>
				</span>
			</div>
			<div class="edit-save">
				<a data-action="delete-rep"><i class="fas fa-trash"></i></a>
			</div>
		</section>
		<section class="member-rep expanded-{{npc.expanded}}">
			{{#each npc.pcs as |pc|}}
			<div class="member-row" data-id="{{pc.uuid}}">
				<img src="{{getImgFromUUID pc.uuid}}" />
				<p class="member-name">{{pc.name}}</p>
				<input name="rep-val" type="number" class="number-input" value="{{pc.reputation}}" />
			</div>
			{{/each}}
		</section>
	</section>
	{{/each}}
	{{else}}
	<div class="no-data">
		<p>No Data To Show. Add a new faction</p>
	</div>
	{{/if}}
</section>
<section class="dev" style="position: absolute; bottom: 0; left: 0;">
	<a data-action="reset"><i class="fa-solid fa-trashcan"></i> Reset Data</a>
</section>
