@layer vessaya {
  .vessaya.window-app {
    background: none;
  }
  .vessaya.window-app .window-content {
    padding: 1rem;
    background: none;
    color: var(--color-light-2);
  }
  #pause #vessaya-logo-frame {
    background: url() no-repeat center;
    background-size: 100px;
  }
  #pause figcaptiuon {
    color: #aaa395;
    font-family: var(--font-serif);
  }
  .vessaya-fullcreen {
    --max-width: 1600px;
  }
  .flexcol > * {
    flex: center;
  }
  input,
  select {
    --input-backgroud-color: rgba(75, 75, 75, 0.5);
    --input-border-color: transparent;
    --input-text-color: var(--color-light-2);
    --input-placeholder-color: var(--color-cool-4);
  }
  input:focus,
  select:focus {
    --input-text-color: var(--color-light-1);
  }
  a.button,
  button {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-light-2);
    --button-focus-outline-color: var(--color-warm-2);
    --button-hover-background-color: var(--color-warm-2);
    --button-hover-text-color: var(--color-light-1);
  }
  a.button:disabled,
  button:disabled {
    --button-background-color: transparent;
    --button-border-color: transparent;
    --button-text-color: var(--color-light-4);
  }
  @media (min-width: 2000px) {
    .vessaya-fullscreen {
      --ui-scale: 1.1;
    }
  }
  @media (max-width: 1660px) {
    .vessaya-fullscreen {
      --max-width: 1400px;
    }
  }
  @media (max-width: 1480px) {
    .vessaya-fullscreen {
      --ui-scale: 0.9;
    }
  }
  @media (max-width: 1340px) {
    .vessaya-fullscreen {
      --ui-scale: 0.9;
    }
  }
  @media (max-width: 1200px) {
    .vessaya-fullscreen {
      --ui-scale: 0.9;
      --max-width: 1100px;
    }
  }
  @media (max-height: 1040px) {
    .vessaya-fullscreen {
      --ui-scale: 0.9;
    }
  }
  @media (max-height: 900px) {
    .vessaya-fullscreen {
      --ui-scale: 0.8;
    }
  }
  /* ----------------------------------------- */
  /* Journal Entry                             */
  /* ----------------------------------------- */
  .sheet.journal-entry.vessaya {
    background: url("../assets/ui/codex-bg-dark.webp") repeat center;
    border: none;
  }
  .sheet.journal-entry.vessaya .window-header {
    color: var(--color-text-light-1);
    text-shadow: 1px 1px 1px black;
  }
  .sheet.journal-entry.vessaya a:hover {
    text-shadow: 0 0 8px purple;
  }
  .sheet.journal-entry.vessaya:not(.collapsing) {
    min-width: calc(1080px - var(--sidebar-width-expanded) + var(--sidebar-width-collapsec));
  }
  .sheet.journal-entry.vessaya.expanded {
    min-width: 1080px;
  }
  .sheet.journal-entry.vessaya.minimized {
    min-width: unset;
  }
  .sheet.journal-entry.vessaya::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: linear-gradient(to bottom, transparent 90%, rgba(89, 50, 178, 0.15) 100%);
  }
  .sheet.journal-entry.vessaya::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: url("../assets/ui/codex-bg.webp") no-repeat;
    opacity: 0.5;
    background-size: 100% auto;
    mask-image: linear-gradient(0deg, transparent 66%, black 100%);
  }
  .sheet.journal-entry.vessaya .journal-sidebar {
    min-width: var(--sidebar-width-expanded);
  }
  .sheet.journal-entry.vessaya .journal-sidebar:not(.expanded) {
    min-width: 0;
  }
  .sheet.journal-entry.vessaya .window-content {
    backdrop-filter: none;
    -webkit-background-filter: none;
  }
  .sheet.journal-entry.vessaya .window-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: url("../assets/ui/arcane-circle.webp") no-repeat center;
    background-size: auto 100%;
    opacity: 0.2;
  }
  .sheet.journal-entry.vessaya input[name=search] {
    --input-placeholder-color: var(--color-light-5);
    --input-background-color: rbg(0 0 0 / 20%);
  }
  .sheet.journal-entry.vessaya .journal-entry-content {
    background: none;
    border: none;
  }
  .sheet.journal-entry.vessaya .toc {
    --line-height: 28px;
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] {
    border: none;
    font-family: var(--font-seirf);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id].active {
    color: var(--color-text-accent);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .page-index {
    color: var(--color-light-5);
    font-family: var(--font-sans);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .tags {
    margin-right: 0.5rem;
    font-family: var(--font-sans);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .tags .tag {
    font-size: var(--var-size-10);
  }
  .sheet.journal-entry.vessaya .toc li.category {
    background: var(--color-warm-2);
    padding: 0.25rem 1rem;
    margin: 1rem 1rem 0.25rem 0;
    border-radius: 0 8px 8px 0;
  }
  .sheet.journal-entry.vessaya .toc li.category h3,
  .sheet.journal-entry.vessaya .toc li.category strong {
    margin: 0;
    line-height: var(--line-height);
    font-family: var(--font-serif);
    font-size: var(--font-size-14);
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #FFF;
    text-transform: none;
    text-align: left;
  }
  .sheet.journal-entry.vessaya:not(.expanded) .toc li.category {
    margin: 1rem 0 0.25rem 0;
  }
  .sheet.journal-entry.vessaya:not(.expanded) .toc .tags {
    display: none;
  }
  .sheet.journal-entry.vessaya footer.action-buttons button {
    --button-background-color: rgba(0, 0, 0, 0.2) --button-border-color: transparent;
  }
  .sheet.journal-entry.vessaya input.title {
    display: none;
    background-color: var(--color-cool-4);
    color: var(--color-light-2);
  }
  .sheet.journal-entry.vessaya .display {
    display: block !important;
  }
  /* ----------------------------------------- */
  /* Single Page View                          */
  /* ----------------------------------------- */
  .vessaya.journal-entry .journal-entry-page .journal-page-header {
    gap: 1rem;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header h1 {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header h2.subtitle {
    justify-content: center;
    color: var(--color-light-3);
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .tags {
    justify-content: center;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .pronuniciation {
    margin: -0.5rem 0 0;
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    font-style: italic;
    color: var(--color-light-4);
    text-align: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .action-buttons {
    width: 100%;
    justify-content: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .action-buttons button {
    flex: none;
    max-width: 50%;
  }
  .vessaya.journal-entry .journal-entry-page .edit-container {
    right: 28px;
    margin: 0;
  }
  .vessaya.journal-entry .journal-entry-page .edit-container .editor-edit {
    display: block;
    background: none;
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .edit-container i {
    color: var(--color-light-2);
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content {
    padding: 1rem 2rem;
    --color-text-primary: var(--color-light-3);
    font-family: var(--font-serif);
    font-size: var(--font-size-15);
    line-height: 1.3em;
    color: var(--color-text-primary);
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content p {
    text-align: justify;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content h1,
  .vessaya.journal-entry .journal-entry-page .journal-page-content h2,
  .vessaya.journal-entry .journal-entry-page .journal-page-content h3 {
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
    margin: 2rem 0 1rem 0;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .tableau img {
    max-height: 480px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item {
    gap: 1rem;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item img {
    flex: 0 0 64px;
    height: 64px;
    width: 64px;
    object-fit: contain;
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item img.icon {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .biome-list,
  .vessaya.journal-entry .journal-entry-page .journal-page-content .locatio-list {
    list-style: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .biome-list li,
  .vessaya.journal-entry .journal-entry-page .journal-page-content .locatio-list li {
    margin: 0 0 1rem 0;
  }
  /* ----------------------------------------- */
  /* Single Page Edit Mode                     */
  /* ----------------------------------------- */
  .vessaya.journal-entry-page nav.sheet-tabs {
    gap: 0;
    font-size: var(--font-size-12);
  }
  .vessaya.journal-entry-page .tab {
    flex: 1;
  }
  .vessaya.journal-entry-page .tab.standard-form {
    padding: 1rem 1.5rem;
  }
  .vessaya.journal-entry-page .tab > prose-mirror {
    height: 100%;
  }
  .vessaya.journal-entry-page h2.divider,
  .vessaya.journal-entry-page h3.divider {
    border-bottom: none;
  }
  .vessaya.journal-entry-page form.choices {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .vessaya.journal-entry-page form.choices > fieldset {
    background: url("../ui/logo-shadow.webp") no-repeat 12px center;
    background-size: 80px;
    margin: 0;
    padding: 1rem 1rem 1rem 100px;
    border: 1px dashed var(--color-light-5);
    border-radius: 8px;
  }
  .vessaya.journal-entry-page form.choices fieldset.choice {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .vessaya.journal-entry-page form.choices .outcome {
    margin: 0;
  }
  .vessaya.journal-entry-page form.choices .outcome label {
    color: var(--color-light-2);
    font-size: var(--font-size-16);
    font-weight: bold;
  }
  .vessaya.journal-entry-page form.choices .outcome label > input {
    --checkbox-size: 24px;
  }
  .vessaya.journal-entry-page form.choices .outcome .notes {
    margin: 0;
    color: var(--color-light-4);
  }
  .vessaya.journal-entry-page hex-tags,
  .vessaya.journal-entry-page coefficient-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem;
  }
  .vessaya.journal-entry-page hex-tags > input,
  .vessaya.journal-entry-page coefficient-tags > input {
    flex: 1;
  }
  .vessaya.journal-entry-page hex-tags > button,
  .vessaya.journal-entry-page coefficient-tags > button {
    flex: 0 0 36px;
  }
  div.tab .content.reputation {
    margin: 0;
    overflow: hidden scroll !important;
  }
  div.tab .content.reputation header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  div.tab .content.reputation header h3 {
    font-family: "Vollkorn";
    margin: 0.5em;
  }
  div.tab .content.reputation a {
    margin-right: 0.5em;
  }
  div.tab .content.reputation .rep-entry {
    color: var(--color-text-dark-2);
    border-image-source: url(../../../systems/pf2e/assets/sheet/frame-elegant.svg);
    border-image-repeat: repeat;
    border-image-slice: 11;
    border-image-width: 14px;
    border-style: double;
    margin: 0.5em;
    transition: all 0.5s ease;
  }
  div.tab .content.reputation .rep-entry input.number-input {
    border: none !important;
    width: 30px !important;
    text-align: center !important;
  }
  div.tab .content.reputation .rep-entry .party-rep {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  div.tab .content.reputation .rep-entry .party-rep h3 {
    margin: 0;
    font-size: 1.25rem;
  }
  div.tab .content.reputation .rep-entry .party-rep div {
    margin: 10px;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details {
    width: 90%;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details .form-group {
    display: block !important;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details .form-group label {
    flex: 0.6 !important;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details .form-group input.group-name {
    border: none !important;
    font-size: 1.25em !important;
    height: 1.7em !important;
    font-weight: 700;
    padding: 0.3rem !important;
    background-color: rgba(0, 0, 0, 0.05) !important;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details .form-group input.group-name:focus {
    box-shadow: none !important;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details h3 {
    cursor: pointer;
  }
  div.tab .content.reputation .rep-entry .party-rep .rep-details h3:hover {
    text-shadow: 1px 1px 5px rgba(150, 20, 150, 0.8);
  }
  div.tab .content.reputation .rep-entry .party-rep .edit-save {
    width: 2rem;
    display: flex;
    flex-direction: row;
  }
  div.tab .content.reputation .rep-entry .rep-expand {
    font-size: 22px;
    margin: auto 0 auto 1rem !important;
    padding: 0;
    text-align: center;
  }
  div.tab .content.reputation .rep-entry h3,
  div.tab .content.reputation .rep-entry p,
  div.tab .content.reputation .rep-entry span {
    margin: 0 !important;
    padding: 5px !important;
  }
  div.tab .content.reputation .rep-entry input.rep-input {
    border: none !important;
  }
  div.tab .content.reputation .no-data {
    margin: 2em;
    padding: 0;
    font-style: italic;
  }
  div.tab .content.reputation .expanded-true {
    display: block !important;
  }
  div.tab .content.reputation .expanded-false {
    display: none !important;
  }
  div.tab .content.reputation .member-rep {
    margin: 0 0.5rem;
    padding: 0.3rem 0.6rem;
    border-top: solid 1px var(--color-dark-1);
  }
  div.tab .content.reputation .member-rep .member-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
  }
  div.tab .content.reputation .member-rep .member-row img {
    border: none !important;
    width: 28px;
    height: 28px;
  }
  div.tab .content.reputation .member-rep .form-group {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
  }
  div.tab .hidden {
    display: none;
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .vessaya .journal-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
    width: 100%;
  }
  .vessaya .journal-page-header h1,
  .vessaya .journal-page-header h2,
  .vessaya .journal-page-header h3 {
    border: none;
  }
  .vessaya .journal-page-header h1 {
    font-size: 3em;
  }
  .vessaya .journal-page-header h2 {
    text-shadow: 1px 1px 2px #000;
  }
  .vessaya .journal-page-content section.description {
    background: var(--color-light-2);
    padding: 0.5rem 1rem;
    border-left: 8px solid rgba(110, 0, 200, 0.6);
    color: var(--color-text-dark-2);
  }
  .vessaya h1,
  .vessaya h2,
  .vessaya h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 1rem 0;
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
  }
  .vessaya h1.divider,
  .vessaya h2.divider,
  .vessaya h3.divider {
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 2rem;
  }
  .vessaya h1.divider::after,
  .vessaya h2.divider::after,
  .vessaya h3.divider::after {
    content: "";
    width: 50%;
    margin-left: 0.5rem;
    border-top: 2px ridge var(--color-warm-1);
    mask-image: linear-gradient(270deg, transparent 0%, black 100%);
  }
  .vessaya h1.divider::before,
  .vessaya h2.divider::before,
  .vessaya h3.divider::before {
    content: "";
    width: 50%;
    margin-right: 0.5rem;
    border-top: 2px ridge var(--color-warm-1);
    mask-image: linear-gradient(90deg, transparent 0%, black 100%);
  }
  .vessaya .content-link {
    gap: 0.25rem;
    padding: 3px 0.5rem;
    margin: -3px 0;
    line-height: 1rem;
    background-color: var(--color-cool-4);
    color: var(--color-light-2);
  }
  .vessaya .content-link i {
    font-size: 0.75rem;
    color: var(--color-cool-1);
  }
  .vessaya blockquote {
    margin: 0.5em 0 2em 1em;
    padding: 5px 10px 5px 25px;
    background-color: var(--color-cool-4);
  }
  .vessaya .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.25rem;
    justify-content: flex-end;
    align-items: center;
  }
  .vessaya .tags .tag {
    cursor: default;
    flex: none;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0 4px;
    background: var(--color-cool-5-75);
    border: 1px solid #111;
    border-radius: 3px;
    font-size: var(--font-size-12);
    max-width: 100%;
    color: var(--color-light-2);
    opacity: 1;
  }
  .vessaya .tags:empty {
    display: none;
  }
  /* ---------------------------------------- */
  /*  Font Declarations                       */
  /* ---------------------------------------- */
  @font-face {
    font-family: "Volkorn";
    src: url("../assets/fonts/Vollkorn/Vollkorn.ttf") format("truetype");
    font-style: normal;
    font-weight: 300 800;
  }
  @font-face {
    font-family: "Pirate Scroll";
    src: url("../assets/fonts/PirateScroll/PirateScroll.otf") format('opentype');
    font-style: normal;
    font-weight: 400;
  }
  .vessaya {
    /* ------------------------------------------ */
    /* Colors                                     */
    /* ------------------------------------------ */
    --color-warm-1: #e04e4e;
    --color-warm-2: #c93f4b;
    --color-warm-3: #5e1722;
    --color-active: #ff6b6b;
    --color-text-accent: #ff6b6b;
    --color-cool-1: #efecf6;
    --color-cool-2: #9c7ee5;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #fffbf0;
    --color-light-2: #f5eadf;
    --color-light-3: #f0dab9;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-blockquote-ink: #2b0c06;
    --color-exploration-bg: #1c211c;
    --color-exploration-border: #2f4d2f;
    --color-exploration-skill: #7ff67f;
    --color-hazard-bg: #211818;
    --color-hazard-border: #5d1818;
    --color-hazard-save: #ff6464;
    --color-social-bg: #1b2126;
    --color-social-border: #6783a5;
    --color-social-check: #a9cfff;
    --color-date-bg: #2a2f34;
    --color-date-text: #cbecf3;
    --color-scrollbar: rgba(201, 89, 62, 0.1);
    --color-scrollbar-track: transparent;
    --color-scrollbar-border: transparent;
    --font-header: "Pirate Scroll", serif;
    --font-body: "Vollkorn", serif;
    --font-serif: "Vollkorn", serif;
    --font-sans: "Signika", sans-serif;
    /* ---------------------------------------- */
    /*  Typography                              */
    /* ---------------------------------------- */
    --font-h1: var(--font-header);
    --font-h2: var(--font-header);
    --font-h3: var(--font-header);
    --font-h4: var(--font-sans);
    --font-h5: var(--font-serif);
    --font-h6: var(--font-serif);
  }
}
