@layer vessaya {
  /* ---------------------------------------- */
  /*	Font Declarations												*/
  /* ---------------------------------------- */
  @font-face {
    font-family: "Volkorn";
    src: url("../assets/fonts/Vollkorn/Vollkorn.ttf") format("truetype");
    font-style: normal;
    font-weight: 300 800;
  }
  @font-face {
    font-family: "Pirate Scroll";
    src: url("../assets/fonts/PirateScroll/PirateScroll.otf") format('opentype');
    font-style: normal;
    font-weight: 400;
  }
  @font-face {
    font-family: "Good OT Cond Bold";
    src: url(fonts/goodot-condbold.otf) fomrat("opentype");
  }
  .vessaya {
    /* ------------------------------------------ */
    /* Colors																			*/
    /* ------------------------------------------ */
    --color-warm-1: #e04e4e;
    --color-warm-2: #c93f4b;
    --color-warm-3: #5e1722;
    --color-active: #ff6b6b;
    --color-text-accent: #ff6b6b;
    --color-cool-1: #efecf6;
    --color-cool-2: #9c7ee5;
    --color-cool-3: #584a75;
    --color-cool-4: #302831;
    --color-cool-5: #0b0a13;
    --color-cool-5-25: rgba(11, 10, 19, 0.25);
    --color-cool-5-50: rgba(11, 10, 19, 0.5);
    --color-cool-5-75: rgba(11, 10, 19, 0.75);
    --color-cool-5-90: rgba(11, 10, 19, 0.9);
    --color-light-1: #fffbf0;
    --color-light-2: #f5eadf;
    --color-light-3: #f0dab9;
    --color-light-4: #d0b8a3;
    --color-light-5: #9f8475;
    --color-light-6: #816b66;
    --color-blockquote-ink: #2b0c06;
    --color-exploration-bg: #1c211c;
    --color-exploration-border: #2f4d2f;
    --color-exploration-skill: #7ff67f;
    --color-hazard-bg: #211818;
    --color-hazard-border: #5d1818;
    --color-hazard-save: #ff6464;
    --color-social-bg: #1b2126;
    --color-social-border: #6783a5;
    --color-social-check: #a9cfff;
    --color-date-bg: #2a2f34;
    --color-date-text: #cbecf3;
    --color-scrollbar: rgba(201, 89, 62, 0.1);
    --color-scrollbar-track: transparent;
    --color-scrollbar-border: transparent;
    --font-header: "Pirate Scroll", serif;
    --font-body: "Vollkorn", serif;
    --font-serif: "Vollkorn", serif;
    --font-sans: "Signika", sans-serif;
    /* ---------------------------------------- */
    /*	Typography															*/
    /* ---------------------------------------- */
    --font-h1: var(--font-header);
    --font-h2: var(--font-header);
    --font-h3: var(--font-header);
    --font-h4: var(--font-sans);
    --font-h5: var(--font-serif);
    --font-h6: var(--font-serif);
  }
  .vessaya.window-app#vessaya-hex-edit .window-content {
    color: #191813;
    background: url(../../../ui/parchment.jpg);
  }
  .vessaya.window-app .window-content {
    padding: 1rem;
    background: none;
    color: var(--color-light-2);
  }
  #pause #vessaya-logo-frame {
    background: url() no-repeat center;
    background-size: 100px;
  }
  #pause figcaption {
    color: #aaa395;
    font-family: var(--font-serif);
  }
  .vessaya-fullcreen {
    --max-width: 1600px;
  }
  .flexcol > * {
    flex: center;
  }
  /* ----------------------------------------- */
  /* Journal Entry                             */
  /* ----------------------------------------- */
  .sheet.journal-entry.vessaya {
    background: url("../assets/ui/codex-bg-dark.webp") repeat center;
    border: none;
  }
  .sheet.journal-entry.vessaya .window-header {
    color: var(--color-text-light-1);
    text-shadow: 1px 1px 1px black;
  }
  .sheet.journal-entry.vessaya a:hover {
    text-shadow: 0 0 8px purple;
  }
  .sheet.journal-entry.vessaya:not(.collapsing) {
    min-width: calc(1080px - var(--sidebar-width-expanded) + var(--sidebar-width-collapsec));
  }
  .sheet.journal-entry.vessaya.expanded {
    min-width: 1080px;
  }
  .sheet.journal-entry.vessaya.minimized {
    min-width: unset;
  }
  .sheet.journal-entry.vessaya::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: linear-gradient(to bottom, transparent 90%, rgba(89, 50, 178, 0.15) 100%);
  }
  .sheet.journal-entry.vessaya::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: url("../assets/ui/codex-bg.webp") no-repeat;
    opacity: 0.5;
    background-size: 100% auto;
    mask-image: linear-gradient(0deg, transparent 66%, black 100%);
  }
  .sheet.journal-entry.vessaya .journal-sidebar {
    min-width: var(--sidebar-width-expanded);
  }
  .sheet.journal-entry.vessaya .journal-sidebar:not(.expanded) {
    min-width: 0;
  }
  .sheet.journal-entry.vessaya .window-content {
    backdrop-filter: none;
    -webkit-background-filter: none;
  }
  .sheet.journal-entry.vessaya .window-content::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1000;
    background: url("../assets/ui/arcane-circle.webp") no-repeat center;
    background-size: auto 100%;
    opacity: 0.2;
  }
  .sheet.journal-entry.vessaya input[name=search] {
    --input-placeholder-color: var(--color-light-5);
    --input-background-color: rbg(0 0 0 / 20%);
  }
  .sheet.journal-entry.vessaya .journal-entry-content {
    background: none;
    border: none;
  }
  .sheet.journal-entry.vessaya .toc {
    --line-height: 28px;
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] {
    border: none;
    font-family: var(--font-seirf);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id].active {
    color: var(--color-text-accent);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .page-index {
    color: var(--color-light-5);
    font-family: var(--font-sans);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .tags {
    margin-right: 0.5rem;
    font-family: var(--font-sans);
  }
  .sheet.journal-entry.vessaya .toc li[data-page-id] .tags .tag {
    font-size: var(--var-size-10);
  }
  .sheet.journal-entry.vessaya .toc li.category {
    background: var(--color-warm-2);
    padding: 0.25rem 1rem;
    margin: 1rem 1rem 0.25rem 0;
    border-radius: 0 8px 8px 0;
  }
  .sheet.journal-entry.vessaya .toc li.category h3,
  .sheet.journal-entry.vessaya .toc li.category strong {
    margin: 0;
    line-height: var(--line-height);
    font-family: var(--font-serif);
    font-size: var(--font-size-14);
    font-weight: normal;
    letter-spacing: 0.1rem;
    color: #FFF;
    text-transform: none;
    text-align: left;
  }
  .sheet.journal-entry.vessaya:not(.expanded) .toc li.category {
    margin: 1rem 0 0.25rem 0;
  }
  .sheet.journal-entry.vessaya:not(.expanded) .toc .tags {
    display: none;
  }
  .sheet.journal-entry.vessaya footer.action-buttons button {
    --button-background-color: rgba(0, 0, 0, 0.2) --button-border-color: transparent;
  }
  .sheet.journal-entry.vessaya input.title {
    display: none;
    background-color: var(--color-cool-4);
    color: var(--color-light-2);
  }
  .sheet.journal-entry.vessaya .display {
    display: block !important;
  }
  /* ----------------------------------------- */
  /* Single Page View                          */
  /* ----------------------------------------- */
  .vessaya.journal-entry .journal-entry-page .journal-page-header {
    gap: 1rem;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header h1 {
    position: relative;
    justify-content: center;
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header h2.subtitle {
    justify-content: center;
    color: var(--color-light-3);
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .tags {
    justify-content: center;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .pronuniciation {
    margin: -0.5rem 0 0;
    font-family: var(--font-serif);
    font-size: var(--font-size-16);
    font-style: italic;
    color: var(--color-light-4);
    text-align: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .action-buttons {
    width: 100%;
    justify-content: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-header .action-buttons button {
    flex: none;
    max-width: 50%;
  }
  .vessaya.journal-entry .journal-entry-page .editor-container {
    right: 28px;
    margin: 0;
  }
  .vessaya.journal-entry .journal-entry-page .editor-container .editor-edit {
    display: block;
    background: none;
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .editor-container i {
    color: var(--color-light-2);
  }
  .vessaya.journal-entry .journal-entry-page .editor-container h2.divider {
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content {
    padding: 1rem 2rem;
    --color-text-primary: var(--color-light-3);
    font-family: var(--font-serif);
    font-size: var(--font-size-15);
    line-height: 1.3em;
    color: var(--color-text-primary);
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content p {
    text-align: justify;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content p a.inline-check[data-pf2-traits*=secret] {
    background: rgba(21 21 90 / 40%);
    border-color: #523853;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content h1,
  .vessaya.journal-entry .journal-entry-page .journal-page-content h2,
  .vessaya.journal-entry .journal-entry-page .journal-page-content h3 {
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
    margin: 2rem 0 1rem 0;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .tableau img {
    max-height: 480px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item {
    gap: 1rem;
    align-items: center;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item img {
    flex: 0 0 64px;
    height: 64px;
    width: 64px;
    object-fit: contain;
    border: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .documents-list .list-item img.icon {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .biome-list,
  .vessaya.journal-entry .journal-entry-page .journal-page-content .locatio-list {
    list-style: none;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content .biome-list li,
  .vessaya.journal-entry .journal-entry-page .journal-page-content .locatio-list li {
    margin: 0 0 1rem 0;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content section.readaloud {
    padding: 0.5rem 1rem 0.2rem 1rem;
    margin-bottom: 1rem;
    background: rgba(80 90 100 / 70%);
    border-top: 2px solid var(--color-text-primary);
    border-radius: 6px;
  }
  .vessaya.journal-entry .journal-entry-page .journal-page-content section.rewards {
    padding: 0.5rem 1rem 0.2rem 1rem;
    margin-bottom: 1rem;
    background: rgba(117 156 141 / 60%);
    border-top: 2px solid var(--color-text-primary);
    border-radius: 6px;
  }
  /* ----------------------------------------- */
  /* Single Page Edit Mode                     */
  /* ----------------------------------------- */
  .journal-sheet.journal-entry-page .editor-content.ProseMirror {
    padding: 1rem 2rem;
    --color-text-primary: var(--color-light-3);
    font-size: var(--font-size-15);
    line-height: 1.3em;
    color: var(--color-text-primary);
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror p {
    text-align: justify;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror p a.inline-check[data-pf2-traits*=secret] {
    background: rgba(21 21 90 / 40%);
    border-color: #523853;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror h1,
  .journal-sheet.journal-entry-page .editor-content.ProseMirror h2,
  .journal-sheet.journal-entry-page .editor-content.ProseMirror h3 {
    font-family: "Pirate Scroll";
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
    margin: 2rem 0 1rem 0;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .tableau img {
    max-height: 480px;
    border: none;
    border-radius: 8px;
    box-shadow: none;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .documents-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .documents-list .list-item {
    gap: 1rem;
    align-items: center;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .documents-list .list-item img {
    flex: 0 0 64px;
    height: 64px;
    width: 64px;
    object-fit: contain;
    border: none;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .documents-list .list-item img.icon {
    flex: 0 0 32px;
    height: 32px;
    width: 32px;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .biome-list,
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .locatio-list {
    list-style: none;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .biome-list li,
  .journal-sheet.journal-entry-page .editor-content.ProseMirror .locatio-list li {
    margin: 0 0 1rem 0;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror section.readaloud {
    padding: 0.5rem 1rem 0.2rem 1rem;
    margin-bottom: 1rem;
    background: rgba(80 90 100 / 70%);
    border-top: 2px solid var(--color-text-primary);
    border-radius: 6px;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror section.rewards {
    padding: 0.5rem 1rem 0.2rem 1rem;
    margin-bottom: 1rem;
    background: rgba(117 156 141 / 60%);
    border-top: 2px solid var(--color-text-primary);
    border-radius: 6px;
  }
  .journal-sheet.journal-entry-page .editor-content.ProseMirror blockquote {
    margin-left: 1rem;
    padding: 5px 10px 5px 25px;
    background-color: rgba(132 80 100 / 50%);
    border-radius: 3px;
    border-top: solid 2px beige;
  }
  .vessaya .journal-page-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
    width: 100%;
  }
  .vessaya .journal-page-header h1,
  .vessaya .journal-page-header h2,
  .vessaya .journal-page-header h3 {
    border: none;
  }
  .vessaya .journal-page-header h1 {
    font-size: 3em;
  }
  .vessaya .journal-page-header h2 {
    text-shadow: 1px 1px 2px #000;
  }
  .vessaya .journal-page-content section.description {
    background: var(--color-light-2);
    padding: 0.5rem 1rem;
    border-left: 8px solid rgba(110, 0, 200, 0.6);
    color: var(--color-text-dark-2);
  }
  .vessaya h1,
  .vessaya h2,
  .vessaya h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem 0 1rem 0;
    font-family: var(--font-header);
    font-weight: normal;
    letter-spacing: 0.2em;
    color: var(--color-light-2);
    border: none;
  }
  .vessaya h1.divider,
  .vessaya h2.divider,
  .vessaya h3.divider {
    justify-content: space-between;
    white-space: nowrap;
    margin-top: 2rem;
  }
  .vessaya h1.divider::after,
  .vessaya h2.divider::after,
  .vessaya h3.divider::after {
    content: "";
    width: 50%;
    margin-left: 0.5rem;
    border-top: 2px ridge var(--color-warm-1);
    mask-image: linear-gradient(270deg, transparent 0%, black 100%);
  }
  .vessaya h1.divider::before,
  .vessaya h2.divider::before,
  .vessaya h3.divider::before {
    content: "";
    width: 50%;
    margin-right: 0.5rem;
    border-top: 2px ridge var(--color-warm-1);
    mask-image: linear-gradient(90deg, transparent 0%, black 100%);
  }
  .vessaya .content-link {
    gap: 0.25rem;
    padding: 0 0.5rem;
    margin: -3px 0;
    line-height: 1rem;
    background-color: var(--color-cool-4);
    color: var(--color-light-2);
  }
  .vessaya .content-link i {
    font-size: 0.75rem;
    color: var(--color-cool-1);
  }
  .vessaya blockquote {
    margin-left: 1rem;
    padding: 5px 10px 5px 25px;
    background-color: rgba(132 80 100 / 50%);
    border-radius: 3px;
    border-top: solid 2px beige;
  }
  .vessaya .tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 0.25rem;
    justify-content: flex-end;
    align-items: center;
  }
  .vessaya .tags .tag {
    cursor: default;
    flex: none;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding: 0 4px;
    background: var(--color-cool-5-75);
    border: 1px solid #111;
    border-radius: 3px;
    font-size: var(--font-size-12);
    max-width: 100%;
    color: var(--color-light-2);
    opacity: 1;
  }
  .vessaya .tags:empty {
    display: none;
  }
  #vessaya-hex-hud {
    background: rgba(0, 0, 0, 0.8);
    color: #EEE;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    border: 2px solid #000;
    border-radius: 1rem;
  }
  #vessaya-hex-hud.default {
    box-shadow: 0 0 16px inset rgba(200, 200, 255, 0.25);
  }
  #vessaya-hex-hud.claimed {
    box-shadow: 0 0 16px inset #ff0000;
  }
  #vessaya-hex-hud .resources.unknown,
  #vessaya-hex-hud p.item.unknown {
    background: linear-gradient(to right, transparent, #b189ff15 10%, 90%, transparent);
  }
  #vessaya-hex-hud .fa-eye-slash .title .unknown {
    color: #c9aeff;
  }
  #vessaya-hex-hud .traits {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5rem 0;
    font-size: 1.8rem;
  }
  #vessaya-hex-hud .traits li {
    border-left: 0.5rem solid #d8c483;
    border-right: 0.5rem solid #d8c483;
    background: #004416;
    color: white;
    padding: 0.2rem 0.75rem;
    text-transform: uppercase;
    font-family: "Good OT Cond Bold";
  }
  #vessaya-hex-hud div.group {
    border-image: linear-gradient(to right, transparent, #999 10%, 90%, transparent) 1 / 2px 0 0 0;
  }
  #vessaya-hex-hud div.group:empty {
    display: none;
  }
  #vessaya-hex-hud div.group p.item {
    min-height: 32px;
    margin: 0;
    padding: 0.4rem 0;
  }
  #vessaya-hex-hud div.group p.item i {
    padding: 14px 0 0 0;
    flex: 0 0 5rem;
    text-align: center;
  }
  #vessaya-hex-hud div.group p.item:first-child {
    padding-top: 1rem;
  }
  #vessaya-hex-hud div.group p.item:last-child {
    padding-bottom: 1rem;
  }
  #vessaya-hex-hud .flex {
    display: flex;
    gap: 1.5rem;
    align-items: center;
  }
  #vessaya-hex-hud .flex div {
    flex: 100%;
  }
  #vessaya-hex-hud .flex div .item .value {
    flex: 2.5;
  }
  #vessaya-hex-hud .flex img.terrain {
    margin: 1rem 0;
    flex: 0 0 160px;
    width: 160px;
    height: 160px;
    border-radius: 10px;
  }
  #vessaya-hex-hud p.item {
    border-radius: 50px;
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
  }
  #vessaya-hex-hud p.item span {
    align-self: center;
  }
  #vessaya-hex-hud p.item.title {
    font-size: 2.2rem;
  }
  #vessaya-hex-hud p.item.title .key .value {
    white-space: nowrap;
  }
  #vessaya-hex-hud p.item.title i {
    padding: 2px 0 0 0;
  }
  #vessaya-hex-hud p.item .key {
    flex: 1;
    text-align: left;
  }
  #vessaya-hex-hud p.item .value {
    text-align: right;
    width: 100%;
    flex: 1;
  }
  #vessaya-hex-hud p.item .gray {
    color: #a0a0a0;
  }
  #vessaya-hex-hud p.item img {
    height: 4rem;
    border-radius: 24px;
  }
  #vessaya-hex-edit legend {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }
  #vessaya-hex-edit legend button {
    font-size: var(--font-size-12);
    line-height: 1rem;
  }
  #vessaya-hex-edit form.flexcol {
    gap: 1rem;
  }
  #vessaya-hex-edit div.feature {
    gap: 0.5rem;
  }
  #vessaya-hex-edit div.feature > select {
    flex: 0 0 100px;
    width: 100px;
  }
  #vessaya-hex-edit div.feature > button {
    font-size: var(--font-size-12);
    line-height: 1.5rem;
    flex: 0 0 2rem;
  }
}
