div.tab {

	.content.reputation {

		margin: 0;
		overflow: hidden !important;

		header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		h3 {
			font-family: "Vollkorn";
			margin: 0 0.5em;
		}

		a {
			margin-right: 0.5em;
		}

		.rep-entry {
			color: var(--color-text-dark-2);
			border-image-source: url(../../../systems/pf2e/assets/sheet/frame-elegant.svg);
			border-image-repeat: repeat;
			border-image-slice: 11;
			border-image-width: 14px;
			border-style: double;
			display: flex;
			align-items: center;
			height: 3rem;
			margin: 0.5em;

			h3,
			p {
				margin: 0.5em 1em !important;
				padding: 5px !important;
			}
		}

	}

}
