div.tab {

	.content.reputation {

		margin: 0;
		overflow: hidden scroll !important;

		header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;

			h3 {
				font-family: "Vollkorn";
				margin: 0.5em;
			}
		}

		a {
			margin-right: 0.5em;
		}

		.rep-entry {
			color: var(--color-text-dark-2);
			border-image-source: url(../../../systems/pf2e/assets/sheet/frame-elegant.svg);
			border-image-repeat: repeat;
			border-image-slice: 11;
			border-image-width: 14px;
			border-style: double;
			margin: 0.5em;
			transition: all 0.5s ease;

			input.number-input {
				border: none !important;
				width: 30px !important;
				text-align: center !important;
			}

			.party-rep {
				display: flex;
				justify-content: space-between;
				align-items: center;

				h3 {
					margin: 0;
					font-size: 1.25rem;
				}

				div {
					margin: 10px;
				}

				.rep-details {
					width: 90%;

					.form-group {
						display: block !important;

						label {
							flex: 0.6 !important;
						}

						input.group-name {
							border: none !important;
							font-size: 1.25em !important;
							height: 1.7em !important;
							font-weight: 700;
							padding: 0.3rem !important;
							background-color: rgb(0 0 0 / 5%) !important;

							&:focus {
								box-shadow: none !important;
							}
						}
					}

					h3 {
						cursor: pointer;

						&:hover {
							text-shadow: 1px 1px 5px rgb(150 20 150 / 80%);
						}
					}

				}

				.edit-save {
					width: 2rem;
					display: flex;
					flex-direction: row;
				}
			}

			.rep-expand {
				font-size: 22px;
				margin: auto 0 auto 1rem !important;
				padding: 0;
				text-align: center;
			}

			h3,
			p,
			span {
				margin: 0 !important;
				padding: 5px !important;
			}

			input.rep-input {
				border: none !important;
			}
		}

		.no-data {
			margin: 2em;
			padding: 0;
			font-style: italic;
		}

		.expanded-true {
			display: block !important;
		}

		.expanded-false {
			display: none !important;
		}

		.member-rep {
			// animation: fadeIn 0.5s ease-in-out forwards !important;
			margin: 0 0.5rem;
			padding: 0.3rem 0.6rem;
			border-top: solid 1px var(--color-dark-1);

			.member-row {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 0.5em;

				img {
					border: none !important;
					width: 28px;
					height: 28px;
				}
			}

			.form-group {
				display: flex;
				justify-content: space-between;
				padding: 0.5rem 0;
				border-bottom: 1px solid #eee;
			}
		}

	}

	.hidden {
		display: none;
	}

}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		transform: translateY(0);
	}
}
